<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <% if (error && error.length > 0) {%>
         <br>
         <div class="alert alert-danger text-center" role="alert">
            <%= error %>
        </div>
     <% } %>
    <% if (success && success.length > 0) {%>
        <br>
    <div class="alert alert-success text-center" role="alert">
     <%= success %>
    </div>
    <% } %>
     </div>
    <h1>chef home page</h1>
    <a href="/chef_logout">logout</a>
</body>
</html>