<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Chef Request Page</title>
</head>
<body>
<div style="margin-left: 25px;">
    <h2>
        Chef's recent request from user
    </h2>
    <br />
    <% if(request) {%>
        <hr>
        <ul>
            <li>Name: <%= request.username %></li>
            <li>Mobile: <%= request.mobile %></li>
            <li>Email: <%= request.email %></li>
            <% if(request.check == false ) {%>
                <li>Status: not Accepted</li>
                <li><a href="/accept">Accept</a></li>
            <% }  else { %>
                <li>Status: Accepted</li>
            <% } %>
        </ul>
        <hr>
        <% } %>


        <% if(request == '') {%>
            <h2>You don't have any recent request</h2>
        <% } %>
        <a href="/chef_homepage">homepage</a>
</div>
</body>
</html>