<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>home page</title>
</head>
<body>
  <h1>welcome to home page</h1>
  <a href="/chef_signin">chef signin</a><br>
  <a href="/chef_signup">chef signup</a><br>
  <a href='/signin'>SignIn</a><br>
  <a href='/signup'>SignUp</a>
</body>
</html>