<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            update user info page
        </title>
        <meta charset="utf-8">                
        <link rel="stylesheet" href="/stylesheets/style2.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <h1 align=center>Retype your details to update</h1>
        <div class="place">
            <h2>Culinary Artist</h2><br>
        </div>
        <div class="w3-container w3-white w3-panel w3-border w3-round-large size">
        <form action="/update_user" class="formset" method="POST">
            <h2 id="log"><u>User Update Info</u></h2>
            <h4>Username:</h4>
            <input  class="w3-border w3-round" type="text" name="username" required value=<%= list.username %>  />
            <h4>Mobile Number:</h4>
            <input type="text" class="w3-border w3-round" name="mobile" required="required" value=<%= list.mobile %> />
			<input type="submit"  class="w3-button w3-round w3-blue btn" value="update" />
            <div class="anchor"><a href="/user_homepage">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsphomepage</a></div>
        </form>
        </div>
    </body>
</html>