<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/img.css">

    <title>User Emergency page</title>
</head>
<body>
<div style="margin-left: 25px;">
    <h1>User Emergency page</h1>
    <p>Please mail or call the number immediately</p>
    <p><a href="mailto:admin@cheffood.com">Send email</a> <h4>admin@cheffood.com</h4></p>
    <p>Or Call this <h4>1800-400-321</h4></p>
    <p><a href="/user_home">Home</a></p>
</div>
</body>
</html>