<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/img.css">
    <title>User Request Page</title>
</head>
<body>
<div style="margin-left: 25px;">

    <h2>
        User's recent requested chef
    </h2>
    <% if(request) {%>
       
        <ul>
            <li>Name: <%= request.username %></li>
            <li>Mobile: <%= request.mobile %></li>
            <li>Email: <%= request.email %></li>
            <% if(request.check == false ) {%>
                <li>Status: not Accepted</li>
            <% }  else { %>
                <li>Status: Accepted</li>
                <li><a href="/servicedone">Service done</a></li>

            <% } %>
        </ul>
       
        <% } %>


        <% if(request == '') {%>
            <h2><br />You don't have any recent request</h2>
        <% } %>
        <br />
        <a href="/user_home">homepage</a>
 </div>
</body>
</html>